/*general*/
.logo {
  width: 250px;
}

.content {
  width: 95%;
  margin: auto;
}

h4 {
  font-size: 20px;
}

p {
  text-align: justify;
}
.info {
  font-size: 20px;
}
.checkboxMargin {
  margin-left: 20px;
}

/*tables*/

tr:nth-child(odd) {
  background-color: rgb(246, 253, 253);
}
tr:nth-child(even) {
  background-color: rgb(209, 209, 209);
}

/*checkbox and filter*/

.filterCheckbox {
  display: flex;
  justify-content: space-between;
}

/*Home*/

#more {
  display: none;
}

.flexbox {
  display: flex;
  flex-direction: row-reverse;
  min-height: 655px;
}
.imagen_1 {
  display: flex;
  align-items: center;
}
.imagen_mod {
  width: 300px;
  height: 300px;
}

/*House & Senate Attendance/Party */

.flex-house-attendance {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.attendance {
  width: 50%;
}
.house-title {
  width: 45%;
}

.table-width {
  width: 45%;
}
/*footer*/

.footer {
  background-color: rgba(47, 47, 49, 0.5);
  height: 50px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid black;
  border-bottom: none;
}
.bg_color {
  background-color: rgba(71, 71, 71, 0.9);
  border: 1px solid black;
}
.min_height {
  min-height: 607px;
}
/*Loader*/
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #cef;
  border-color: rgb(78, 123, 145) transparent rgb(78, 123, 145) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
